@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;600;800&family=Roboto:wght@100;400;500;700;900&display=swap");

.common_menu_ul {
  /* display: flex; */
  display: block;
}
.single_link {
  font-family: "Roboto", sans-serif;
  /* width: 60px; */
  padding-bottom: 5%;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-align: center;
  /* padding-top: 10%; */
  justify-content: flex-start;
  /* display: grid;
  place-items: center; */
}
.single_link:hover {
  background: #eeeeee;
  cursor: pointer;

  /* width: 70px; */
}
